.container {
    margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  border-radius: 16px;
}

.content-box {
  width: 80%;
  display: block;
  height: 1000px;
  background-color: #ffffff;

}

.left-column {
  width: 20%;
  padding: 20px;
  height: 1000px;
  display: block;
  float: left;
  background-color: #417e9faf;
}

.right-column {
  width: 70%;
  max-width: 70%;
  padding: 20px;
  height: 1000px;
}

button
{
    margin-top: 20px;
}

h2
{
    margin-bottom: 30px;
    text-align: left;
}

mat-card-title
{
    font-weight: bold;;
}