  <div class="container">
    <h4>Filter Appointments</h4>
    <div class="subcontainer">
    <mat-form-field appearance="outline" class="form-f">
        <mat-label>Filter by Patient</mat-label>
        <mat-select (selectionChange)="patientChange($event)">
            @for (patient of patientList; track patient[0])
            {
                <mat-option [value]="patient[0]">
                    {{patient[1]}}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-f">
        <mat-label>Filter by Physician</mat-label>
        <mat-select (selectionChange)="physicianChange($event)">
            @for (physician of physicianList; track physician[0])
            {
                <mat-option [value]="physician[0]">
                    {{physician[1]}}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>
    </div>
    <div class="subcontainer">
    <mat-form-field appearance="outline" class="form-f">
        <mat-label>Room Number</mat-label>
        <input matInput placeholder="###" [formControl]="roomIdControl">
    </mat-form-field>
    </div>
    <div class="subcontainer">
    <mat-form-field appearance="outline" class="form-f cal">
        <input matInput [matDatepicker]="myDatepicker" [formControl]="startDateControl">
        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker color="primary"></mat-datepicker>
    </mat-form-field>
    <h3 style="margin-left: 20px;">to</h3>
    <mat-form-field appearance="outline" class="form-f cal">
        <input matInput [matDatepicker]="myDatepicker2" [formControl]="endDateControl">
        <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker2 color="primary"></mat-datepicker>
    </mat-form-field>
    </div> 
    <button mat-raised-button type="button" class="btn btn-primary-outline pull-right" (click)="generateReport();">Generate Report</button>    
</div>
 @if (reportGenerated)
 {
<div style="overflow-y:scroll; max-height: 50vh">
  <table style="overflow: scroll" mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="appt_id">
        <th mat-header-cell *matHeaderCellDef>
              Appt. Id
          </th>
        <td mat-cell *matCellDef="let element">
              {{element.appt_id}} 
          </td>
    </ng-container>

    <ng-container matColumnDef="physician_name">
        <th mat-header-cell *matHeaderCellDef>
              Physician
          </th>
        <td mat-cell *matCellDef="let element"> 
              {{ element.physician_name }} 
          </td>
    </ng-container>

    <ng-container matColumnDef="patient_name">
        <th mat-header-cell *matHeaderCellDef>
              Patient 
          </th>
        <td mat-cell *matCellDef="let element">
              {{ element.patient_name }}
          </td>
    </ng-container>

    <ng-container matColumnDef="room_id">
        <th mat-header-cell *matHeaderCellDef>
              Room No. 
          </th>
        <td mat-cell *matCellDef="let element"> 
              {{ element.room_id }}
          </td>
    </ng-container>

    <ng-container matColumnDef="appt_date">
        <th mat-header-cell *matHeaderCellDef>
            Date 
          </th>
        <td mat-cell *matCellDef="let element"> 
              {{ parseDate(element.appt_date) }}
          </td>
    </ng-container>

    <ng-container matColumnDef="purpose">
        <th mat-header-cell *matHeaderCellDef>
                Purpose
          </th>
        <td mat-cell *matCellDef="let element"> 
              {{ element.purpose }}
          </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div> 
}